@{
  Layout="Shared/_Layout.cshtml";
}

<h1>@Model["restaurant"].GetRestaurantName()</h1>
<h2>@Model["cuisine"].GetCuisineName()</h2>
<h3>Address: @Model["restaurant"].GetAddress()</h3>
<h3>Hours: @Model["restaurant"].GetOpenTime() to @Model["restaurant"].GetCloseTime()</h3>

<p><a href="/cuisines/@Model["cuisine"].GetId()/restaurants/@Model["restaurant"].GetId()/delete">Delete </a></p>
<p><a href="/cuisines/@Model["cuisine"].GetId()/restaurants/@Model["restaurant"].GetId()/update">Update</a></p>
<p><a href="/cuisines/@Model["cuisine"].GetId()">Back to @Model["cuisine"].GetCuisineName()</a></p>
<p><a href="/">Back to Homepage</a></p>
